//main styles

@import 'base/_reset';
@import 'base/_colours';
@import 'base/_font_stack';
@import 'base/_typography';

$html-name-space:'.dvla-open-source';

#{$html-name-space} {
  background:#FFF;
  margin:0 auto;
  max-width:980px;

  .section-content {
    padding:1.7em 15px 0 15px;
    margin-bottom:4em;
  }

  .section {
    padding:3em 0;
    border-bottom:solid 1px #E4E4E4;
    &:last-child {
      border-bottom:0 none;
    }
  }

}