/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
html, body, button, input, table, td, th {
  font-family: "nta", Arial, sans-serif; }

ol, ul {
  list-style: inherit; }

nav ol, nav ul {
  list-style: inherit; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  color: #2e3191; }
  a:hover, a:active {
    color: #2e8aca; }
  a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47; }

b, strong {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  font-weight: bold; }

h1,
h2 {
  margin: 0;
  padding: 0 0 0.5em 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px;
  margin: 0;
  padding: 1em 0; }

p {
  margin: 0 0 1em 0;
  line-height: 1.25; }
  .section p:last-child {
    margin-bottom: 0; }

ul,
ol {
  margin: 2em 0 2em 1em;
  padding: 0; }
  @media (min-width: 767px) {
    ul,
    ol {
      margin: 2em 0 2em 3em; } }

li {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 1.25; }

.global-header {
  background-color: #0b0c0c;
  width: 100%; }
  .global-header h1 a:focus {
    background-color: transparent;
    outline: none; }
  .global-header a:focus {
    color: #0b0c0c; }
  .global-header .header-wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding: 0.5em 0; }
    .ie7 .global-header .header-wrapper {
      width: 940px; }
    .ie6 .global-header .header-wrapper {
      width: 910px; }
    .global-header .header-wrapper:after {
      content: "";
      display: block;
      clear: both; }
    .global-header .header-wrapper > .content {
      margin: 0 15px; }
  .global-header .header-global:after {
    content: "";
    display: block;
    clear: both; }
  .global-header .header-global .header-logo {
    float: left;
    width: 100%;
    margin: 5px 0 2px; }
  @media (min-width: 767px) {
    .global-header .header-global {
      float: left;
      width: 33.33%; } }
  .global-header a.logo {
    float: left;
    position: relative;
    top: 1px;
    height: 30px;
    overflow: visible;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    padding-bottom: 1px;
    margin-bottom: -1px; }
    .global-header a.logo img {
      position: relative;
      top: -2px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none; }
    .global-header a.logo:hover {
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: 0; }
  .global-header .header-logo {
    float: left;
    margin: 5px 0 2px; }
    .global-header .header-logo .content {
      float: left;
      position: relative;
      top: 1px;
      height: 30px;
      overflow: visible;
      vertical-align: baseline;
      color: white;
      font-weight: bold;
      font-size: 30px;
      line-height: 1em;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      margin-bottom: -1px;
      padding: 0 15px 1px 15px; }
      .global-header .header-logo .content img {
        position: relative;
        top: -2px;
        width: 35px;
        height: 31px;
        padding-right: 6px;
        float: left;
        display: inline;
        line-height: inherit;
        border: none; }

body {
  -webkit-font-smoothing: antialiased; }

.dvla-open-source {
  background: #FFF;
  margin: 0 auto;
  max-width: 980px; }
  .dvla-open-source .section-content {
    padding: 1.7em 15px 0 15px;
    margin-bottom: 4em; }
  .dvla-open-source .section {
    padding: 3em 0;
    border-bottom: solid 1px #E4E4E4; }
    .dvla-open-source .section:last-child {
      border-bottom: 0 none; }
