@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
ol, ul {
  list-style: inherit; }

nav ol, nav ul {
  list-style: inherit; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  color: #2e3191; }
  a:hover, a:active {
    color: #2e8aca; }
  a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47; }

b, strong {
  font-weight: 600; }

html, body, button, input, table, td, th {
  font-family: "nta", Arial, sans-serif; }

.dvla-open-source {
  background: #FFF;
  margin: 0 auto;
  max-width: 980px; }
  .dvla-open-source .section-content {
    padding: 1.7em 15px 0 15px;
    margin-bottom: 4em; }
